.dropdown {
    position: relative;
    display: inline-block;
    color: var(--text);
}

.dropdown-content {
    margin-top: 5px;
    min-width: 100%;
    width: 100%;
}

.contentStyled {
    background-color: var(--secondary);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.dropdown-content ul {
    margin: 0;
    padding: 0;
    font-size: large;
    cursor: pointer;
}

.dropdown-content ul li {
    padding: 5px 0 10px 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content ul li:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.dropdownBtn {
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    font-size: large;
    color: var(--text);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btnStyled {
    background-color: var(--secondary);
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 5px; 
}

.active {
    border-color: white;
}

.dropdown:hover .dropdownBtn.styled {
    background-color: hsl(from var(--secondary) h s l / 0.7);
}


@keyframes slideIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}