.text-block{
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    font-size: large;
}

.elem, .array{
    border-radius: 10px;
}

.elem, .invisibleElem{
    position: relative;
    padding: 5px;
    background-color: var(--primary);
    font-size: large;
}

.invisibleElem{
    background-color: transparent;
    color: transparent;
}

.topIndicator, .frontIndicator{
    position: absolute;
    top: -30px;
}

.topIndicator{
    left: 20%;
}

.frontIndicator{
    left: 0;
}

.stackVisualizationContainer{
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.stackContainer{
    border-top: none;
    padding: 4px;
    position: relative;
}

.queueContainer{
    padding: 4px;
    position: relative;
    border-left: none;
    border-right: none;
}


.array{
    border: 1px solid var(--border);
    padding: 5px;
}

@media (min-width: 1024px){
    .text-block{
        width: 60%;
    }

    .elem, .invisibleElem{
        font-size: xx-large;
    }

    .stackVisualizationContainer{
        gap: 50px;
    }
}