:root {
  --primary: hsl(60, 9.1%, 10%);
  --secondary: hsl(12, 6.5%, 20%);
  --background: hsl(20, 14.3%, 4.1%);
  --text: hsl(60, 9.1%, 97.8%);
  --border: hsl(60, 9.1%, 60%);
  --danger: hsl(353, 61%, 43%);
  --next: hsl(83, 61%, 40%);
  --selected: #C9CC3F;
}

html, body, #root, #main {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);
}

ul {
  list-style-type: none;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.sm {
  display: block;
}

@media (min-width: 640px){
  .sm{
    display: none !important;
  }

  .md-flex {
    display: flex !important;
  }
  
  .md-block {
    display: block !important;
  }

}

@media (min-width: 1024px){
  header{
      position: sticky;
      top:0;
      z-index: 10;
  }

  html, body, #root, #main {
    height: auto;
  }
}

.w-full {
  width: 100%;
}

