:root {
  --primary: hsl(60, 9.1%, 10%);
  --secondary: hsl(12, 6.5%, 20%);
  --background: hsl(20, 14.3%, 4.1%);
  --input: #333;

  --text: hsl(60, 9.1%, 97.8%);
  --border: hsl(60, 9.1%, 60%);
  --danger: hsl(353, 61%, 43%);
  --next: hsl(83, 61%, 40%);
  --selected: #C9CC3F;
}

* {
  box-sizing: border-box
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#main{
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);
  color: var(--text)
}

.buttons {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap:20px;
}

.buttons button {
  background-color: var(--secondary);
  box-shadow: 5px 5px 5px black;
  color: var(--text);
  font-size: large;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 130px;
  border: none;
}

input{
  border-radius: 5px;
  font-size: large;
  background-color: var(--input);
  border: 1px solid var(--border);
  color: white;
}

input:focus{
  outline: 2px solid white;
}

.buttons button.danger {
  background-color: var(--danger);
}

.buttons button.next {
  background-color: var(--next);
}

.buttons button:hover{
  outline: 2px solid white;
}

ul {
  list-style-type: none;
  padding: 0;
}

ol{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 5px;
  gap:5px;
  font-size: large;
}

ol li{
  display: flex;
  flex-direction: column;
  gap:5px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  font-size: xx-large;
  letter-spacing: 2px;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.sm-block {
  display: block;
}

.sm-col{
  flex-direction: column;
}

.md-block, .md-flex{
  display: none;
}

.bg-secondary{
  background-color: var(--secondary);
}

.bg-primary{
  background-color: var(--primary);
}

.bg{
  background-color: var(--background);
}

.rounded{
  border-radius: 5px;
}

.w-full {
  width: 100%;
}

.h-full{
  height: 100%;
}

.capitalized{
  text-transform: capitalize;
}

.bolded{
  font-weight: 500;
}

.col{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  gap:5px;
}

.bordered {
  border: 1px solid var(--border);
}

.justify-between{
  display: flex;
  justify-content: space-between;
}

canvas {
  border: 1px solid var(--border);
  width: 100%;
  margin-bottom: 10px;
}

.canvasContainer {
  padding: 20px;
  /*flex: 1;*/
  display: flex;
  flex-direction: column;
  gap:5px;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: sticky;
  top: 0;
}

@media (min-width: 640px){
  .sm-block{
    display: none;
  }

  .sm-col{
    flex-direction: row;
  }

  .md-flex {
    display: flex;
  }
  
  .md-block {
    display: block;
  }

}

@media (min-width: 1024px){

  .md-w-80{
    width: 80%;
  }

  .md-row{
    flex-direction: row;
  }
}



