header{
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--border);
    background-color: var(--primary);
    display: flex;
    justify-items: center;
    justify-content: space-around;
    color: var(--text);
}

header a {
    color: inherit;
    font-weight: 400;
}

a#homeText {
    font-size: x-large;
    letter-spacing: 2px;
    font-weight: 500;
}

@media (min-width: 1024px){
    a#homeText {
        font-size: xx-large;
    }
}

#headerMenu {
    margin: 0;
    flex-direction: row;
    justify-items: center;
    gap: 20px;
}

#mobileNavContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.mobileNavContent p {
    font-weight: 500;
    font-size: x-large;
    letter-spacing: 1px;
}

