#content {
    width: 100%;
    height: 100vh;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--text);
}

@media (min-width: 1024px){
    #content .title {
        font-size: 45px !important;
    }

    #content span {
        font-size: x-large !important;
    }

    #content .tiny {
        font-size: large !important;
    }
}

#content .tiny {
    font-size: small;
}

#content ul {
    display: flex;
    flex-direction: column;
    gap:10px;

}

#content span {
    font-size: medium;
}

#content ul li {
    color: white;
    font-size: large;
    text-decoration:underline;
}

#content ul li:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 1),   
               0 0 20px rgba(255, 255, 255, 0.9), 
               0 0 30px rgba(255, 255, 255, 0.8), 
               0 0 40px rgba(255, 255, 255, 0.7), 
               0 0 50px rgba(255, 255, 255, 0.6); 
}

#content .title {
    font-size: 30px;
}

.hero {
    margin-top: 20px;
}