.blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.trigger{
    padding: 2px 3px 2px 3px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 10px;
}

#sideMenuContent {
    position: fixed;
    display: none;
    width: 0;
    top: 0;
    right: 0;
    background-color: var(--secondary);
    z-index: 10;
    height: 100vh;
}


@keyframes growWide {
    from {
        width: 0;
    }
    to{
        width: 50%;
    }
}

.show {
    animation: growWide 0.5s forwards;
    padding: 20px;
    display: block !important;
}
