#content {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--text);
    gap:5px;
}

#info {
    width: 100%;
    height: 100%;
    /* background-color: var(--primary); */
}

#description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo span {
    margin-left: 25px;
}

pre {
    font-size: large;
    overflow: auto;
    white-space: pre-wrap;
}

#code {
    display: flex;
    align-items: center;
    justify-content: center;
}

#code pre {
    font-size: x-large;
}

#todo, #code pre {
    background-color: var(--primary);
    border-radius: 15px;
    padding: 20px;
}

#description span {
    font-size: large;
}

#complexity {
    background-color: var(--secondary);
    border-radius: 15px;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#complexity > span {
    font-weight: 500;
}

.title {
    margin: 0;
    font-size: xx-large;
    letter-spacing: 2px;
    font-weight: 500;
}

#visualization {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
}