#sortContent {
    width: 100%;
    min-width: 0;
    min-height: 0;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    color: var(--text);
    gap:5px;
}

#info {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo span {
    margin-left: 25px;
}

pre {
    font-size: large;
    overflow: auto;
    white-space: pre-wrap;
}

#code {
    display: flex;
    align-items: center;
    justify-content: center;
}

#code pre {
    font-size: x-large;
}

#todo {
    background-color: var(--primary);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 5px var(--secondary);
}

#description span {
    font-size: large;
}

#complexity {
    background-color: var(--secondary);
    border-radius: 15px;
    padding: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--border);
}

#complexity > span {
    font-weight: 500;
}

.title {
    margin: 0;
    font-size: xx-large;
    letter-spacing: 2px;
    font-weight: 500;
}

#visualizationContainer {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    overflow: none;
}

#testCode {
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

.buttons {
    display: flex;
    gap:20px;
}

.buttons button {
    background-color: var(--secondary);
    color: var(--text);
    font-size: large;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
}

.buttons button.danger {
    background-color: var(--danger);
}

.buttons button.next {
    background-color: var(--next);
}

.buttons button:hover{
    border: 1px solid white;
}

canvas {
    border: 1px solid var(--border);
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.canvasContainer {
    padding: 20px;
    image-rendering: pixelated;
}

.animationHeader {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}