#topNav {
    border-bottom: 1px solid var(--border);
}

#topNav ul {
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
}

#topNav ul a {
    color: var(--text);
    font-size: large;
}

div#topNav ul a:hover{
    text-decoration: underline;
}

a.active {
    text-decoration: underline;
}

@media(min-width: 1024px){
    #topNav ul {
        gap: 30px;
    }
}