div#topNav {
    padding: 10px;
    background-color: var(--secondary);
    display: none;
}

div#topNav ul {
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
     
}

div#topNav ul a {
    color: var(--text);
    font-size: large;
}

div#topNav ul a:hover{
    text-decoration: underline;
}

a.active {
    /* font-weight: bold; */
    text-decoration: underline;
}